<header id="header">
  <div class="cont">
    <div class="header-logo">
      <a href="/">
        <img class="header__logo-right" src="assets/internalship/img/logo.png">
        <span class="header__logo-left">ITTest</span>
      </a>
    </div>

    <nav class="header-menu">
      <div class="m_menu"></div>
      <ul>
        <li><a href="/internalship#bg2" class="anchore">ВАКАНСИИ</a></li>
        <li><a href="/internalship#bg3" class="anchore">о нас</a></li>
        <li><a href="/internalship#bg4" class="anchore">наши условия</a></li>
        <li><a href="/internalship#bg5" class="anchore">ожидания</a></li>
        <li class="custom-w"><a href="/internalship#bg6" class="anchore">стажировка <br>в нашем центре</a></li>
        <li class="custom-w"><a href="/internalship#bg7" class="anchore">прохождение стажировки</a></li>
      </ul>
    </nav>
  </div>
</header>