<div class="container" [@fadeInAnimation]>
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>Oops!</h1>
              <h2>It seems that you shouldn't be here</h2>
              <div class="error-details">
                  Sorry, an error has occured. You need the appropriate premission to access this very page.
              </div>
              <div class="error-actions">
                  <a routerLink="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> Take Me Home </a>
              </div>
          </div>
      </div>
  </div>
</div>