<div id="bg5" class="container-fluid">
  <div class="row blur_block_bg">
    <div class="col-md-3" scrollAnimate="fadeInLeft">
      <p class="bg5__item-header bg5__item1-header">{{ 'theses.0.header' | translate }} <br> <span class="minus"></span></p>
      <p class="bg5__item-desc">{{ 'theses.0.desc' | translate }}</p>
    </div>
    <div class="col-md-3" scrollAnimate="fadeInLeft">
      <p class="bg5__item-header bg5__item2-header">{{ 'theses.1.header' | translate }} <br> <span class="minus"></span></p>
      <p class="bg5__item-desc">{{ 'theses.1.desc' | translate }}</p>
    </div>
    <div class="col-md-3" scrollAnimate="fadeInLeft">
      <p class="bg5__item-header bg5__item3-header">{{ 'theses.2.header' | translate }} <br> <span class="minus"></span></p>
      <p class="bg5__item-desc">{{ 'theses.2.desc' | translate }}</p>
    </div>
    <div class="col-md-3" scrollAnimate="fadeInLeft">
      <p class="bg5__item-header bg5__item4-header">{{ 'theses.3.header' | translate }} <br> <span class="minus"></span></p>
      <p class="bg5__item-desc">{{ 'theses.3.desc' | translate }}</p>
    </div>
  </div>
</div>
