
    <section id="bg3" style="background-image: url(assets/internalship/img/bg3.jpg)">
      <div class="cont">
        <div class="bg3__left">
          <img src="assets/internalship/img/bg3_img1.jpg" alt="" class="bg3__left-img">
        </div>
        <div class="bg3__right">
          <div class="bg3__right-big">
            <p><b>Компания IT Test –</b> команда профессионалов в области разработки и тестирования всех видов программного
            обеспечения. Мы приглашаем Вас присоединиться к нашей команде и получить возможность стабильной работы и развития.</p>
          </div>
          <div class="bg3__right-small">
            <p>Мы ищем <mark>талантливых, перспективных и стремящихся к развитию людей</mark> для работы в нашей компании или прохождения
            обучения в нашем центре. Выпускникам центра будет предложена работа в штате компании Айтитест.</p>
          </div>
        </div>
      </div>
    </section>