body.landing {
  @media only screen and (max-width: 768px) {
    nav#header-nav {
      margin:  0;
      position:  absolute;
      left:  -150vw;
      width: 400%;
      height: 80vh;
      z-index: 9;
      padding:  15px;
      background-color: #f5f5f5;
    }

    .header-nav__item {
      display:  block;
      float:  none;
      margin:  20px;
    }

    .header__contact {
      max-width:  50%;
      float:  left;
      width:  100%;
      text-align:  center;
    }

    .header__icons {
      max-width:  25%;
      float:  left;
      width:  100%;
    }

    .header__menu {
      max-width:  25%;
      width:  100%;
      float:  left;
    }

    .menu_m {
      display:  block;
      color: white;
      line-height: 70px;
      font-size: 25px;
    }

    a.header__contact-link {}

    nav#header-nav.active {
      left: 0;
    }

    .header-nav__item a {
      color: #636363;
    }

    div#bg1 {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .bg1__logo {
      margin-bottom: 30px;
    }

    .bg1__header {
      font-size: 20px;
    }

    .bg1__desc {
      font-size: 16px;
      line-height:  18px;
    }

    .bg2__item {
      min-height: 410px;
      border-bottom: none;
    }

    .bg2__item .back {
      -moz-transform: none;
      -ms-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      transform: none;
      position:  absolute;
      max-height: 0;
      overflow:  hidden;
      width:  0;
      padding-left: 15px;
      padding-right: 15px;
      transition-duration: 0s;
    }

    div#bg2[data-open="tab-1"] .bg2__item[data-open="tab-2"], div#bg2[data-open="tab-2"] .bg2__item[data-open="tab-1"] {
      width:  100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    div#bg2[data-open="tab-1"] .bg2__item[data-open="tab-1"] .back, div#bg2[data-open="tab-2"] .bg2__item[data-open="tab-2"] .back {
      max-height:  1000px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      width:  100%;
    }

    div#bg2[data-open="tab-1"] .bg2__item[data-open="tab-1"], div#bg2[data-open="tab-2"] .bg2__item[data-open="tab-2"] {
      width:  100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    #bg2 .close-tab {
      right: 0;
      top: 0;
    }

    .bg2__back-header {
      font-size: 23px;
      line-height:  25px;
    }

    .bg2__back-desc {
      font-size:  18px;
    }

    .bg2__back-item {
      font-size:  16px;
      padding-top:  10px;
    }

    .bg2__back-item:after {
      padding-top: 10px;
    }

    .bg2__back1-footer-header {
      padding-bottom:  0;
      padding-left: 50px;
    }

    .bg2__back1-footer-desc {
      padding-left: 50px;
    }

    .bg2__back1-footer .col-md-4:before {
      display:  block;
    }

    .bg2__back-item .body2tab {
      min-height: 0px;
      padding-bottom:  10px;
    }

    .bg2__back2-footer-mheader {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 15px;
    }

    div#bg2[data-open="tab-1"] .bg2__item[data-open="tab-2"] .front .bg2__front-header, div#bg2[data-open="tab-2"] .bg2__item[data-open="tab-1"] .front .bg2__front-header {
      font-size: 30px;
    }

    div#bg2[data-open="tab-1"] .bg2__item[data-open="tab-2"] .front .bg2__front-desc, div#bg2[data-open="tab-2"] .bg2__item[data-open="tab-1"] .front .bg2__front-desc {
      font-size: 18px;
      line-height: 36px;
    }


    #bg4 .container .row {
      margin-bottom: 20px;
    }

    #bg4 .container .col-md-6 {
      margin-bottom: 30px;
    }

    .bg5__item-header {
      margin-bottom: 10px;
    }

    div#bg5 .col-md-3 {
      margin-bottom: 30px;
    }

    .bg6__item {
      max-width: 100%;
    }

    .bg__header {
      margin-bottom: 20px;
    }

    .map__area {
      height: 300px;
    }

    .map__body {
      top: 0;
      left: 0;
      right:  0;
      position:  relative;
      max-width: 100%;
    }

    div#bg7 .col-md-4, div#bg7 .col-md-5 {
      width:  100%;
    }

    .bg7__header {
      margin-bottom:  10px;
      margin-top: 0;
      text-align:  center;
    }

    div#bg7 {
      text-align:  center;
    }

    .bg7__desc {
      text-align:  center;
    }

    .bg7__link i.fa {
      margin-right: auto;
      margin-left:  auto;
    }

    nav#footer-nav {
      display:  none;
    }

    footer .header__menu {
      display:  none;
    }
    .header-nav__item a {
      line-height: 30px;
      min-height: 30px;
    }
    #footer .header__icons {max-width:  50%;text-align:  center;}

    .bg4__item-header {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
