<div id="bg4" class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <p class="bg__header bg4__header">{{ 'howItWorks.header' | translate }}</p>
        <p class="bg__desc bg4__desc">{{ 'howItWorks.desc' | translate }}</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="assets/landing/img/bg4_icon1.png" scrollAnimate="fadeIn" alt="" class="bg4__item-img">
          <p class="bg4__item-header">{{ 'howItWorks.items.0.header' | translate }}</p>
          <p class="bg4__item-desc">{{ 'howItWorks.items.0.desc' | translate }}</p>
        </div>
        <div class="col-md-6">
          <img src="assets/landing/img/bg4_icon2.png" scrollAnimate="fadeIn" alt="" class="bg4__item-img">
          <p class="bg4__item-header">{{ 'howItWorks.items.1.header' | translate }}</p>
          <p class="bg4__item-desc">{{ 'howItWorks.items.1.desc' | translate }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="assets/landing/img/bg4_icon3.png" scrollAnimate="fadeIn" alt="" class="bg4__item-img">
          <p class="bg4__item-header">{{ 'howItWorks.items.2.header' | translate }}</p>
          <p class="bg4__item-desc">{{ 'howItWorks.items.2.desc' | translate }}</p>
        </div>
        <div class="col-md-6">
          <img src="assets/landing/img/bg4_icon4.png" scrollAnimate="fadeIn" alt="" class="bg4__item-img">
          <p class="bg4__item-header">{{ 'howItWorks.items.3.header' | translate }}</p>
          <p class="bg4__item-desc">{{ 'howItWorks.items.3.desc' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
