<div id="bg6" class="container">
  <p class="bg__header bg6__header">{{ 'partners' | translate }}</p>
  <div class="row justify-content-center">
    <div class="col-12 bg6__item">
      <img src="assets/landing/img/bg6_img2.png" alt="" class="bg6__item-img">
    </div>
    <div class="col text-center d-flex justify-content-center align-items-center">
      <img src="assets/landing/img/streamity.svg" height="100" alt="" class="bg6__item-img">
    </div>

    <div class="col-12 bg6__item">
      <img src="assets/landing/img/looi_logo.svg" height="100" alt="" class="bg6__item-img">
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-12 bg6__item">
      <img src="assets/landing/img/bg6_img3.png" alt="" class="bg6__item-img">
    </div>
    <div class="col-12 bg6__item">
      <img src="assets/landing/img/bg6_img4.png" alt="" class="bg6__item-img">
    </div>
  </div>
</div>
