
@mixin make-button($name, $color) {
    .btn-#{$name} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 5%) !important;
      }
      &:focus,
      &:active,
      &.active {
        background-color: darken($color, 15%) !important;
        box-shadow:none!important;
      }
      &.dropdown-toggle {
        background-color: $color!important;
        &:hover,
        &:focus {
          background-color: lighten($color, 5%) !important;
        }
      }
    }
  }
  
  
  @each $btn-name, $color-value in $material-colors {
    @include make-outline-button($btn-name, $color-value);
    @include make-button($btn-name, $color-value);
  }
  
  
  .tooltip.tooltip-top .tooltip-inner::before,
  .tooltip.bs-tether-element-attached-bottom .tooltip-inner::before {
    bottom: 1px;
  }  