<section id="bg4">

  <div class="bg4__line bg4__line1">

      <div class="bg4__line-col bg4__line1-col1">
          <p class="bg4-subheader"><b>сотрудникам <span>и</span> стажерам</b>, успешно прошедшим тестирование на обучение</p>
          <p class="bg4-header bg-header">мы предлагаем</p>
      </div>

      <div class="bg4__line-col bg4__line1-col2">
        <img src="assets/internalship/img/bg4_img1.jpg" alt="" class="bg4__col-img">
        <div class="bg4__col-desc">
            <ul>
                <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
                <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
                <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
            </ul>
        </div>
      </div>

  </div>

  <div class="bg4__line bg4__line2">

    <div class="bg4__line-col bg4__line2-col1">
      <img src="assets/internalship/img/bg4_img2.jpg" alt="" class="bg4__col-img">
      <div class="bg4__col-desc">
          <ul>
              <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
              <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
              <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
          </ul>
      </div>
    </div>

    <div class="bg4__line-col bg4__line2-col2">
      <img src="assets/internalship/img/bg4_img3.jpg" alt="" class="bg4__col-img">
      <div class="bg4__col-desc">
          <ul>
              <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
              <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
              <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
          </ul>
      </div>
    </div>

    <div class="bg4__line-col bg4__line2-col3">
      <img src="assets/internalship/img/bg4_img4.jpg" alt="" class="bg4__col-img">
      <div class="bg4__col-desc">
          <ul>
              <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
              <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
              <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
          </ul>
      </div>
    </div>

  </div>

  <div class="bg4__line bg4__line3">

    <div class="bg4__line-col bg4__line3-col1">
      <img src="assets/internalship/img/bg4_img5.jpg" alt="" class="bg4__col-img">
      <div class="bg4__col-desc">
          <ul>
              <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
              <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
              <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
          </ul>
      </div>
    </div>

    <div class="bg4__line-col bg4__line3-col2">
      <img src="assets/internalship/img/bg4_img6.jpg" alt="" class="bg4__col-img">
      <div class="bg4__col-desc">
          <ul>
              <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
              <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
              <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
          </ul>
      </div>
    </div>

  </div>

</section>