<footer id="footer" class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 header__menu">
          <nav id="footer-nav">
            <ul>
              <li class="header-nav__item anchore"><a href="{{ 'footer.menu.0.link' | translate }}" smoothScroll >{{ 'footer.menu.0.text' | translate }}</a></li>
              <li class="header-nav__item anchore"><a href="{{ 'footer.menu.1.link' | translate }}" smoothScroll >{{ 'footer.menu.1.text' | translate }}</a></li>
              <li class="header-nav__item"><a target="_blank" href="{{ 'footer.menu.2.href' | translate }}">{{ 'footer.menu.2.text' | translate }}</a></li>
              <li class="header-nav__item anchore"><a href="{{ 'footer.menu.3.link' | translate }}" smoothScroll >{{ 'footer.menu.3.text' | translate }}</a></li>
              <li class="header-nav__item"><a href="{{ 'footer.menu.4.href' | translate }}">{{ 'footer.menu.4.text' | translate }}</a></li>
              <li class="header-nav__item anchore"><a href="{{ 'footer.menu.5.link' | translate }}" smoothScroll >{{ 'footer.menu.5.text' | translate }}</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2 header__contact">
          <a href="mailto:office@ittest-team.ru" class="header__contact-link">{{ 'header.contact.email' | translate }}</a>
          <a href="tel:+7 (4872) 52­59­50" class="header__contact-link">{{ 'header.contact.phone' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="go__top" arrowTop="950" smoothScroll smoothHref="#header" href="#header">
  <i class="fa fa-arrow-circle-o-up"></i>
</div>
