<div [class]="'bg4__line-col bg4__line1-col' + grid.col ">
  <img [src]="'assets/internalship/img/bg4_img' + grid.img + '.jpg'" alt="" class="bg4__col-img">
  <div class="bg4__col-desc">
      <ul>
          <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
          <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
          <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
      </ul>
  </div>
</div>

<!-- <div class="bg4__line-col bg4__line1-col2">
    <img src="/img/bg4_img1.jpg" alt="" class="bg4__col-img">
    <div class="bg4__col-desc">
        <ul>
            <li>достойная заработная плата или «стипендия» на время прохождения программы обучения;</li>
            <li>приобретение теоретических и практических навыков в тестировании и контроле качества десктопных, WEB и мобильных продуктов;</li>
            <li>официальное оформление отношений с работниками и на время стажировки по Трудовому кодексу РФ с официально выплачиваемой;</li>
        </ul>
    </div>
</div> -->