<div id="bg3" class="container">
  <div class="row">
    <p class="bg3__header bg__header">{{ 'expertise.header' | translate }}</p>
    <div class="col-md-6">
      <ul class="bg3__list">
        <li class="bg3__itemlist bg3__itemlist4 row" scrollAnimate="fadeInLeft">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-sitemap text-muted"></i> -->
            <fa-icon
              [icon]="faSitemap"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.0' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist1 row" scrollAnimate="fadeInLeft" delay="500">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-credit-card text-muted"></i> -->
            <fa-icon
              [icon]="faCreditCard"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.1' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist1 row" scrollAnimate="fadeInLeft" delay="1000">
          <div class="col-2 text-center">
            <!-- <i class="fab fa-bitcoin text-muted"></i> -->
            <fa-icon
              [icon]="faBitcoin"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.2' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist2 row" scrollAnimate="fadeInLeft" delay="1500">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-university text-muted"></i> -->
            <fa-icon
              [icon]="faUniversity"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.3' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist3 row" scrollAnimate="fadeInLeft" delay="2000">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-map-marker text-muted"></i> -->
            <fa-icon
              [icon]="faMapMarker"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.4' | translate }}
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="bg3__list">
        <li class="bg3__itemlist bg3__itemlist5 row" scrollAnimate="fadeInRight">
          <div class="col-2 text-center">
            <!-- <i class="far fa-comment-dots text-muted"></i> -->
            <fa-icon
              [icon]="faCommentDots"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.5' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist6 row" scrollAnimate="fadeInRight" delay="500">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-industry text-muted"></i> -->
            <fa-icon
              [icon]="faIndustry"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.6' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist6 row" scrollAnimate="fadeInRight" delay="1000">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-robot text-muted"></i> -->
            <fa-icon
              [icon]="faRobot"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.7' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist7 row" scrollAnimate="fadeInRight" delay="1500">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-cogs text-muted"></i> -->
            <fa-icon
              [icon]="faCogs"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.8' | translate }}
          </div>
        </li>
        <li class="bg3__itemlist bg3__itemlist8 row" scrollAnimate="fadeInRight" delay="2000">
          <div class="col-2 text-center">
            <!-- <i class="fa fa-heartbeat text-muted"></i> -->
            <fa-icon
              [icon]="faHeartbeat"
              [fixedWidth]="true"
              size="lg"
              class="expertise-svg-icons"
              >
            </fa-icon>
          </div>
          <div class="col">
            {{ 'expertise.list.9' | translate }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
