<div id="bg1" class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row blur_block_bg">
        <div class="col-md-12">
          <div class="bg1__logo animated flipInX">
            <img src="assets/landing/img/logo.png" alt="">
            <p>{{ 'mainBanner.logo' | translate }}</p>
          </div>
          <p class="bg1__header">{{ 'mainBanner.header' | translate }}</p>
          <p class="bg1__desc">{{ 'mainBanner.desc' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
