<footer style="background-image: url(assets/internalship/img/footer_bg.jpg)">
  <div class="cont">
    <address class="footer__item footer__adress">
      <p class="footer__item-header">Адрес</p>
      <p>300041, Тула, ул. Тургеневская д. 13, 4 этаж</p>
    </address>
    <div class="footer__item footer__phone">
      <p class="footer__item-header">Телефон</p>
      <a href="tel:+7 (4872) 52-59-50" class="footer__phone-link">+7 (4872) 52-59-50</a>
    </div>
    <div class="footer__item footer__email">
      <p class="footer__item-header">E-mail</p>
      <a href="mailto:office@ittest-team.ru" class="footer__email-link">office@ittest-team.ru</a>
    </div>
    <div class="footer__item footer__socs">
      <a href="https://vk.com/tulaittest" rel="nofollow"><i class="fa fa-vk" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/ittest.ru/" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="cont">
    <div class="footer-copy">It test 2018</div>
    <div class="footer-rights">Все права защищены</div>
  </div>
</footer>